.brand-logo {
    margin-left: 15px;
}

.container {
    margin-left: 15px;
}

.row .col .card {
    background-color: black;
    border: double 4px;
}

body {
    background-image: linear-gradient(90deg, #ee6e73, rgb(216, 124, 124), rgb(252, 229, 229));
}

.row .col .card:hover {
    background: white
}

#personal-play-footer {
    margin-top: 500px !important;
}